<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <p>
    {{msg}}
  </p>
  <form action="/new" method="post">
    <table>
    <tr><!-- applying task2-edit, doesn't like the radio buttons however, so only implementing on text fields-->
    <td><label for="qty_wheels">Number of wheels:</label></td>
    <td><input type="text" name="qty_wheels" value= "{{ buggy['qty_wheels'] }}" /></td>
    </tr>
    <tr>
    <td><label for="flag_color">Colour of flag:</label></td>
    <td><input type="color" name="flag_color" value= "{{ buggy['flag_color'] }}" /></td>
    </tr>

    <tr>
    <td><label for="flag_color_secondary">Secondary flag colour:</label></td>
    <td><input type="color" name="flag_color_secondary" value= "{{ buggy['flag_color_secondary'] }}" /></td>
    </tr>
<!-- Using radio buttons for data with that requires a single specific input -->
    <tr>
    <td><label for="flag_pattern">Flag pattern:</label></td>
    <td><input type="radio" id="plain" name="flag_pattern" value="plain" checked />
        <label for="plain">Plain</label><br>
        <input type="radio" id="vstripe" name="flag_pattern" value="vstripe"  />
        <label for="vstripe">Vertical stripe</label><br>
        <input type="radio" id="hstripe" name="flag_pattern" value="hstripe"  />
        <label for="hstripe">Horizontal stripe</label><br>
        <input type="radio" id="dstripe" name="flag_pattern" value="dstripe"  />
        <label for="dstripe">Diagonal stripe</label><br>
        <input type="radio" id="checker" name="flag_pattern" value="checker"  />
        <label for="checker">Checkered</label><br>
        <input type="radio" id="spot" name="flag_pattern" value="spot"  />
        <label for="spot">Spotted</label><br>

    </td>
    </tr>

    <tr>
    <td><label for="power_type">Power type:</label></td>
    <td><input type="radio" id="petrol" name="power_type" value="petrol" checked />
        <label for="petrol">Petrol</label><br>
        <input type="radio" id="fusion" name="power_type" value="fusion" />
        <label for="fusion">Fusion</label><br>
        <input type="radio" id="steam" name="power_type" value="steam" />
        <label for="steam">Steam</label><br>
        <input type="radio" id="bio" name="power_type" value="bio" />
        <label for="bio">Bio</label><br>
        <input type="radio" id="electric" name="power_type" value="electric" />
        <label for="electric">Electric</label><br>
        <input type="radio" id="rocket" name="power_type" value="rocket" />
        <label for="rocket">Rocket</label><br>
        <input type="radio" id="hamster" name="power_type" value="hamster" />
        <label for="hamster">Hamster</label><br>
        <input type="radio" id="thermo" name="power_type" value="thermo" />
        <label for="thermo">Thermo</label><br>
        <input type="radio" id="solar" name="power_type" value="solar" />
        <label for="solar">Solar</label><br>
        <input type="radio" id="wind" name="power_type" value="wind" />
        <label for="wind">Wind</label><br>

    </td>
    </tr>

    <tr>
    <td><label for="power_units">Power units:</label></td>
    <td><input type="text" name="power_units" value= "{{ buggy['power_units'] }}" /></td>
    </tr>

    <tr>
    <td><label for="aux_power_type">Aux power type:</label></td>
    <td><input type="radio" id="none" name="aux_power_type" value="none" checked/>
        <label for="none">None</label><br>
        <input type="radio" id="petrol" name="aux_power_type" value="petrol"  />
        <label for="petrol">Petrol</label><br>
        <input type="radio" id="fusion" name="aux_power_type" value="fusion" />
        <label for="fusion">Fusion</label><br>
        <input type="radio" id="steam" name="aux_power_type" value="steam" />
        <label for="steam">Steam</label><br>
        <input type="radio" id="bio" name="aux_power_type" value="bio" />
        <label for="bio">Bio</label><br>
        <input type="radio" id="electric" name="aux_power_type" value="electric" />
        <label for="electric">Electric</label><br>
        <input type="radio" id="rocket" name="aux_power_type" value="rocket" />
        <label for="rocket">Rocket</label><br>
        <input type="radio" id="hamster" name="aux_power_type" value="hamster" />
        <label for="hamster">Hamster</label><br>
        <input type="radio" id="thermo" name="aux_power_type" value="thermo" />
        <label for="thermo">Thermo</label><br>
        <input type="radio" id="solar" name="aux_power_type" value="solar" />
        <label for="solar">Solar</label><br>
        <input type="radio" id="wind" name="aux_power_type" value="wind" />
        <label for="wind">Wind</label><br>
    </td>
    </tr>

    <tr>
    <td><label for="aux_power_units">Aux power units:</label></td>
    <td><input type="text" name="aux_power_units" value= "{{ buggy['aux_power_units'] }}"/></td>
    </tr>

    <tr>
    <td><label for="hamster_booster">Hamster booster:</label></td>
    <td><input type="text" name="hamster_booster" value= "{{ buggy['hamster_booster'] }}" /></td>
    </tr>

    <tr>
    <td><label for="tyres">Tyre type:</label></td>
    <td>
      <input type="radio" id="knobbly" name="tyres" value="knobbly" checked />
      <label for="knobbly">Knobbly</label><br>
      <input type="radio" id="slick" name="tyres" value="slick" />
      <label for="slick">Slick</label><br>
      <input type="radio" id="steelband" name="tyres" value="steelband" />
      <label for="steelband">Steelband</label><br>
      <input type="radio" id="reactive" name="tyres" value="reactive" />
      <label for="reactive">Reactive</label><br>
      <input type="radio" id="maglev" name="tyres" value="maglev" />
      <label for="maglev">Maglev</label><br>
    </td>
    </tr>

    <tr>
    <td><label for="qty_tyres">Number of tyres:</label></td>
    <td><input type="text" name="qty_tyres" value= "{{ buggy['qty_tyres'] }}" /></td>
    </tr>

    <tr>
    <td><label for="armour">Armour:</label></td>
    <td><input type="radio" id="none" name="armour" value="none" checked />
    <label for="none">None</label><br>
    <input type="radio" id="wood" name="armour" value="wood"  />
    <label for="wood">Wood</label><br>
    <input type="radio" id="aluminium" name="armour" value="aluminium"  />
    <label for="aluminium">Aluminium</label><br>
    <input type="radio" id="thinsteel" name="armour" value="thinsteel"  />
    <label for="thinsteel">Thinsteel</label><br>
    <input type="radio" id="thicksteel" name="armour" value="thicksteel"  />
    <label for="thicksteel">Thicksteel</label><br>
    <input type="radio" id="titanium" name="armour" value="titanium"  />
    <label for="titanium">Titanium</label><br>

    </td>
    </tr>

    <tr>
    <td><label for="attack">Attack:</label></td>
    <td>
    <input type="radio" id="none" name="attack" value="none" checked  />
    <label for="none">None</label><br>
    <input type="radio" id="spike" name="attack" value="spike"   />
    <label for="spike">Spike</label><br>
    <input type="radio" id="flame" name="attack" value="flame"   />
    <label for="flame">Flame</label><br>
    <input type="radio" id="charge" name="attack" value="charge"   />
    <label for="charge">Charge</label><br>
    <input type="radio" id="biohazard" name="attack" value="biohazard"   />
    <label for="biohazard">Biohazard</label><br>
    </td>
    </tr>

    <tr>
    <td><label for="qty_attack">Number of attacks:</label></td>
    <td><input type="text" name="qty_attack" value= "{{ buggy['qty_attack'] }}" /></td>
    </tr>

    <tr>
    <td><label for="fireproof">Fireproof:</label></td>
    <td>
    <input type="radio" id="fireproof" name="fireproof" value=True  />
    <label for="fireproof">Yes</label><br>
    <input type="radio" id="fireproof" name="fireproof" value=False checked  />
    <label for="fireproof">No</label><br>
    </td>
    </tr>

    <tr>
    <td><label for="insulated">Insulated:</label></td>
    <td>
    <input type="radio" id="insulated" name="insulated" value=True  />
    <label for="insulated">Yes</label><br>
    <input type="radio" id="insulated" name="insulated" value=False checked  />
    <label for="insulated">No</label><br>

    </td>
    </tr>

    <tr>
    <td><label for="antibiotic">Antibiotic:</label></td>
    <td>
    <input type="radio" id="antibiotic" name="antibiotic" value=True  />
    <label for="antibiotic">Yes</label><br>
    <input type="radio" id="antibiotic" name="antibiotic" value=False checked  />
    <label for="antibiotic">No</label><br>
  </td>
    </tr>

    <tr>
    <td><label for="banging">Banging sound system:</label></td>
    <td>
    <input type="radio" id="banging" name="banging" value=True  />
    <label for="banging">Yes</label><br>
    <input type="radio" id="banging" name="banging" value=False checked  />
    <label for="banging">No</label><br>

    </td>
    </tr>

    <tr>
    <td><label for="algo">Algorithm:</label></td>
    <td>
    <input type="radio" id="steady" name="algo" value="steady" checked   />
    <label for="steady">Steady</label><br>
    <input type="radio" id="defensive" name="algo" value="defensive"   />
    <label for="defensive">Defensive</label><br>
    <input type="radio" id="offensive" name="algo" value="offensive"   />
    <label for="offensive">Offensive</label><br>
    <input type="radio" id="titfortat" name="algo" value="titfortat"   />
    <label for="titfortat">Titfortat</label><br>
    <input type="radio" id="random" name="algo" value="random"   />
    <label for="random">Random</label><br>
    <input type="radio" id="buggy" name="algo" value="buggy"   />
    <label for="buggy">Buggy</label><br>

    </td>
    </tr>

  </table>
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
